html {
  font-family: "Roboto";
}

/* Page Transitions */

.page-enter-active,
.page-leave-active {
  transition: opacity .3s ease;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Tables */

th:not([scope="row"]) {
  color: rgba(0, 0, 0, 0.25);
}

.table,
th,
td,
tr {
  border: 0 !important;
  border-radius: 0.25rem;
}

/* Headers */

.page-header {
  background: #2980b9;
  color: #fff;
}


/* Custom Buttons */


.btn-custom,
.btn-custom:active,
.btn-custom:focus {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50% !important;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  opacity: 0.85;
}

.btn-custom:hover {
  background-color: #FFF !important;
  color: #2980b9 !important;

}

/* Modal Headers */

.modal-header {
  background: #2980b9;
  color: white !important;
}

.close,
.close:hover {
  color: white;
}
